* {
  margin: 0;
  padding: 0;
}
body{background-color: black;}
.banner-text {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  width: 100%;
  position: absolute;
  color: #ffffff;
  margin: auto;
  text-align: center;
  padding-top: 250px;
  font-size: 55px;
}

.wrapper {
  font-family: 'Dancing Script', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 470px;
}

.wrapper .button {
  opacity: 0.8;
  box-shadow: inset;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  overflow: hidden;
  background: rgb(255, 230, 230);
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.726);
}

.wrapper .button:hover {
  width: 165px;
  background-color: black;

}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  
  background: #001133;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon {
  background: rgb(196, 29, 29);
}



.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: rgb(255, 255, 255);
}


.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  
}

.wrapper .button:nth-child(1) span {
  color: #ffffff;
}

.wrapper .button:nth-child(2) span {
  color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
  color: #E1306C;
}

.wrapper .button:nth-child(4) span {
  color: rgb(226, 42, 42);
}



.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(184, 41, 41) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.temp{
  height: 50%;
  margin: auto;
  
}

a{
  font-size: 30px;
}

